node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.e2e
.nitro
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

.worktrees
worktrees
zero.db

.pnpm-store
